.container {
  border-radius: 20px;
  width: 400px;
  margin: 0 50px;
  background-color: #50c878;
  max-height: 400px;
}

.input {
  width: 90%;
  background-color: transparent;
  border: transparent;
  border-bottom: 2px solid green;
  height: 40px;
  font-size: 2rem;
  color: #fff;
  margin-top: 10px;
}

input:focus {
  outline: none;
}

.btn {
  opacity: 1;
  margin: 0 0 10px;
  height: 40px;
  width: 140px;
  border-radius: 20px;
  border: transparent;
  color: black;
  font-size: 1rem;
}

.trackContainer {
  margin: 0 10px;
}

/* Cell phone sizes */
@media only screen and (max-width: 425px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: 90%;
  }
}
