.container {
  border-radius: 20px;
  width: 250px;
  margin: 0 50px;
  background-color: #3cb371e6;
  max-height: 350px;
}

.input {
  width: 90%;
  background-color: transparent;
  border: transparent;
  border-bottom: 2px solid green;
  height: 25px;
  font-size: 1.4rem;
  color: #fff;
  margin-top: 10px;
}

input:focus {
  outline: none;
}

.btn {
  opacity: 1;
  margin: 0 0 10px;
  height: 30px;
  width: 120px;
  border-radius: 20px;
  border: transparent;
  color: green;
}

.trackContainer {
  margin: 0 10px;
}
