.container {
  border-radius: 20px;
  width: 400px;
  margin: 0 100px;
  background-color: rgba(0, 250, 154, 0.75);
}

.input {
  width: 90%;
  background-color: transparent;
  border: transparent;
  border-bottom: 2px solid green;
  height: 40px;
  font-size: 2.5rem;
  color: #fff;
  margin-top: 10px;
}

input:focus {
  outline: none;
}

.btn {
  opacity: 1;
  margin: 20px;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  border: transparent;
  color: green;
}
