.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.input {
  width: 500px;
  height: 30px;
  margin: 40px auto 30px;
  font-size: 1.5rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn {
  width: 100px;
  height: 40px;
  font-size: 1.2rem;
  margin: 0 20px 10px;
  border-radius: 20px;
  background-color: #50c878;
  color: #333;
  border: transparent;
  cursor: pointer;
}

.clearBtn {
  width: 100px;
  height: 40px;
  font-size: 1.2rem;
  margin: 0 20px 10px;
  border-radius: 20px;
  background-color: #bbb;
  color: #222;
  border: transparent;
  cursor: pointer;
}

/* Cell phone sizes */
@media only screen and (max-width: 425px) {
  .input {
    width: 80%;
  }

  .container {
    height: 400px;
  }
}

@media only screen and (max-width: 375px) {
  .input {
    width: 85%;
  }
}

@media only screen and (max-width: 320px) {
  .input {
    width: 90%;
  }
}
