.container {
  border-radius: 20px;
  width: 400px;
  margin: 0 100px;
  background-color: cornflowerblue;
}

h2 {
  text-align: left;
  font-size: 2rem;
  margin: 10px 20px;
}

.trackContainer {
  margin: 0 10px 10px;
}
