.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.input {
  width: 400px;
  height: 15px;
  margin: 40px auto 30px;
  font-size: 1.1rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn {
  width: 80px;
  height: 30px;
  font-size: 0.9rem;
  margin: 0 20px 20px;
  border-radius: 20px;
  background-color: mediumspringgreen;
  color: #333;
  border: transparent;
  cursor: pointer;
}

.clearBtn {
  width: 80px;
  height: 30px;
  font-size: 0.9rem;
  margin: 0 20px 20px;
  border-radius: 20px;
  background-color: rgb(17, 44, 160);
  color: #ddd;
  border: transparent;
  cursor: pointer;
}
